.section6{
    display: inline-block;
    width: 53%;
    background-color: rgb(246, 245, 244);
    border-radius: 21px;
    position: relative;
    left: 5px;
    margin-bottom: 7em;
    margin-top: 3em;
}
.sec6cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(246, 245, 244);
    border-radius: 21px;
    padding: 3%;
}
.sec6stuffs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 0em;
}
.sec6img{
    margin: 2em 1em;
    width: 100%;
}
/* .sec6img img{
    width: 74%;
} */
.sec6head{
    font-size: 1.3rem;
    letter-spacing: -0.05rem;
    display: flex;
    justify-content: flex-start;
}
.sec6stuffs{
    text-align: left;
}
.sec6head p{
    font-weight: 700;
    font-size: 180%;
}
.sec6body{
    text-align: left;
    font-size: 1rem !important;
    color: rgb(78 78 78 / 70%);
    line-height: 2.25rem !important;
    padding-right: 0px;
}
.secbtn{
    margin-left: 5%;
}
.sec-six-load{
    width: 70%;
    position: absolute;
    transform: translate(49%,-5%);
    z-index: 3;
}
.sec-six-img2{
    position: relative;
    top: 11%;
    z-index: 2;
    width: 82%;
}
.exclusive-btn {
    width: auto;
}

@media (max-width:600px){
    .sec6cont{
        display: flex;
        flex-direction: column-reverse!important;
    }
    .section6{
        width: 84%;
    }
    .sec6head p{
        font-size: 3.6vh!important;
    }
    .sec6head {
        justify-content: center;
    }
    .sec6img{
        margin-bottom: 0em;
    }
    .sec6body{
        font-size: 1.7vh!important;
        text-wrap: initial;
        padding: 0 5%;
        text-align: center;
    }
    .stuffsInner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* .secbtn{
        margin-left: 29%;
    } */
    .sec-six-img2 {
        width:100%;
       
    }
    .sec-six-load{
    transform: translate(60%,-19%);
    }
    .exclusive-btn{
        margin-left: 20%;
        margin-bottom: 8%;
    }
    .sec-six-load {
        width: 60% !important;
        transform: translate(90%,-12%) !important;
    }
}

@media (min-width:600px) and (max-width:830px) {
    .section6 {
        width: 90%;
        
    }
    .sec6body {
        padding-right: 0;
        
    }
}
.hero-button-six{
    width: 250px;
    padding: 0.6rem 0rem;
    font-size: 18px;
    font-weight: 700;
    background-color: #f04a72;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    border-radius: 15px;
    border: none;
  }
  @media (width<450px) {
    .hero-button-six{
        width: 200px;
        font-size: 1rem;
        padding: 0.8rem 0.3rem;
    }
  }
  .hero-button-six:hover {
   background-color: rgb(255, 213, 90);  
   color: black;
   transform: scale(1.08);
  }
  .sec-six-container{
    width: 55%;
}
.sec-six-div{
    display: flex;
}
.sec-six-sub{
    font-size: 0.5rem;
    color: #4e4e4e;
}
@media (width>810px)and (width<1200px) {
    .sec-six-container{
        width: 80%;
    }
    .sec-six-div{
        padding: 1rem 1rem;

    }
    .sec-six-left .sec-six-heading p{
        font-size: 1.5rem ;
        font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
        font-weight: 700;
        letter-spacing: 0em;
        line-height: 1.2em;
    }
    .sec-six-left{
        width: 70%;
    }
    .sec-six-right{
        width: 30%;
    }
    .sec-six-left .sec-six-sub{
        width:100%;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.2em;
    }
}
@media  (width<811px) {
    .sec-six-container{
        width: 80%;
        max-width: 350px;
    }
    .sec-six-div{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        
    }
    .sec-six-left{
        margin: 1rem auto;
        text-align: center;
    }
    .sec-six-right{
        margin: 2rem auto;
        text-align: center;
        
    }
    .sec-six-left .sec-six-heading p{
        font-size: 2rem !important;
        text-align: center;
        min-width: 250px !important;
        font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
        font-weight: 700;
        letter-spacing: 0em;
        margin: 0 auto;
        line-height: 1.2em;
    }
    
    .sec-six-left .sec-six-sub{
        margin: 2rem 2rem 0rem 0rem;
        text-align: center;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 1rem !important;
    }
    .sec-six-load {
        width: 58%;
        position: absolute;
        transform: translate(69%,-15%);
        z-index: 3;
    }
.stuffsInner {
    padding: 0;
}
.sec6stuffs{
    padding: 0;
}
.sec6cont {
    padding: 0;
}
}