.section6{
    display: inline-block;
    width: 53%;
    background-color: rgb(246, 245, 244);
    border-radius: 21px;
    position: relative;
    left: 5px;
    margin-bottom: 7em;
    margin-top: 3em;
}
.sec6cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(246, 245, 244);
    border-radius: 21px;
}
.sec6stuffs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5em 0em;
}
.sec6img{
    margin: 4em 1em;
    width: 100%;
}
/* .sec6img img{
    width: 74%;
} */
.sec6head{
    display: flex;
    justify-content: flex-start;
}
.sec6stuffs{
    text-align: left;
}
.sec6head p{
    font-weight: bold;
    font-size: 5vh;
}
.sec6body{
    text-align: left;
    font-size: 2.7vh;
}
.secbtn{
    margin-left: 5%;
}
.sec-six-load{
    width: 70%;
    position: absolute;
    transform: translate(35%,-5%);
    z-index: 3;
}
.sec-six-img2{
    position: relative;
    top: 11%;
    z-index: 2;
    width: 74%;
}
.exclusive-btn {
    width: auto;
}

@media (max-width:600px){
    .sec6cont{
        display: flex;
        flex-direction: column-reverse!important;
    }
    .section6{
        width: 84%;
    }
    .sec6head p{
        font-size: 3.6vh!important;
    }
    .sec6head {
        justify-content: center;
    }
    .sec6img{
        margin-bottom: 0em;
    }
    .sec6body{
        font-size: 1.7vh!important;
        text-wrap: initial;
        padding: 0;
        text-align: center;
    }
    .stuffsInner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* .secbtn{
        margin-left: 29%;
    } */
    .sec-six-img2 {
        width:100%;
       
    }
    .sec-six-load{
    transform: translate(60%,-19%);
    }
}

@media (min-width:600px) and (max-width:830px) {
    .section6 {
        width: 90%;
        
    }

    .sec6head p {
        font-size: 2.5vh;
    } 

    .sec6body p{
        font-size: 17px;

    }

    .sec6body {
        padding-right: 0;
        
    }
}
.hero-button-six{
    min-width: fit-content;
    padding: 0.6rem 2rem;
    font-size: 18px;
    font-weight: 700;
    background-color: #f04a72;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    border-radius: 15px;
    border: none;
  }
  @media (width<450px) {
    .hero-button-six{
        min-width: 200px;
        font-size: 1rem;
        padding: 0.3rem 0.3rem;
    }
  }
  .hero-button-six:hover {
   background-color: rgb(255, 213, 90);  
   color: black;
   transform: scale(1.08);
  }
  .sec-six-container{
    width: 1000px;
}
.sec-six-div{
    display: flex;
    padding: 2rem 2rem ;
}
.sec-six-sub{
    color: #4e4e4e;
}
@media ((width>810px)and (width<1200px)) {
    .sec-six-container{
        width: 800px;
    }
    .sec-six-div{
        padding: 1rem 1rem;

    }
    .sec-six-left .sec-six-heading p{
        font-size: 32px ;
        font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
        font-weight: 700;
        letter-spacing: 0em;
        line-height: 1.2em;
    }
    .sec-six-left{
        width: 70%;
    }
    .sec-six-right{
        width: 30%;
    }
    .sec-six-left .sec-six-sub{
        font-size: 25px ;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.2em;
    }
}
@media  (width<810px) {
    .sec-six-container{
        width: 80%;
        min-width: 280px;
    }
    .sec-six-div{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        
    }
    .sec-six-left{
        margin: 3rem auto;
        text-align: center;
    }
    .sec-six-right{
        margin: 3rem auto;
        text-align: center;
        
    }
    .sec-six-left .sec-six-heading p{
        font-size: 32px ;
        text-align: center;
        font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
        font-weight: 700;
        letter-spacing: 0em;
        margin: 0 auto;
        line-height: 1.2em;
    }
    
    .sec-six-left .sec-six-sub{
        margin: 0 auto;
        text-align: center;
        font-size: 25px ;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.2em;
    }
}