.company-logo{
    display: flex;
    border: 1px solid gray;
    border-radius: 50%; 
    overflow: hidden;
    width: 50%;
    aspect-ratio: 1/1; 
    justify-content: center;
}

.company-details-info h1{
    color: #000;
    font-family: DM Sans;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5%;
}

.company-details-info{
    text-align: left;
    margin-left: 15%;
    margin-top: 7%;
}

.company-details-info p{
    margin-bottom: 0%;
    color: #7A7A7A;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company-details-info a{
    margin-bottom: 0%;
    color: #7A7A7A;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company-page-left-row{
   border-right: 1px solid rgba(217, 217, 217, 0.37);
}

.company-page-photo{
    margin-left: 15%;
}
.company-page-photo h1{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.company-page-photo img{
    border-radius: 10px;
    width: 80%;
}

.company-page-photo .swiper-slide{
    display: flex;
    align-items: self-start;
}

.company-page-photo .swiper-pagination{
    background-color: white;
    width: fit-content !important;
    border-radius: 25px;
    margin-left: 26%;
}
.company-detaisl-swiper-container .swiper-pagination-bullet{
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0.5 ;
}

.company-detaisl-swiper-container .swiper-pagination-bullet-active{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.company-detaisl-swiper-container{ 
    height: 30vh !important;  
}

.navigation {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    padding: 0px;
    margin: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.37);
}

.navigation ul {
    list-style-type: none;
    padding: 1%;
    margin: 0;
    display: flex;
}

.navigation li {
    margin-right: 36px;
    margin-left: 36px;
}

.navigation a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.navigationActive::before {
    content: "";
    position: absolute;
    color: #ee2c5b;
    width: 0;
    height: 4px;
    bottom: -6px;
    left: 0;
    background-color: rgba(226, 11, 60, 0.83);
    visibility: visible;
    width: 100%;
}

