.company-details-title{
    color: #000;
    font-family: poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.company-details-sub-title{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.company-details-para{
    margin-bottom: 0%;
    color: #7A7A7A;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company-logo{
    display: flex;
    border: 1px solid gray;
    border-radius: 50%; 
    overflow: hidden;
    width: 55%;
    aspect-ratio: 1/1; 
    justify-content: center;
}

.company-details-info{
    text-align: left;
    margin-left: 15%;
    margin-top: 5%;
}

.company-page-right-row{
    border-left: 1px solid rgba(217, 217, 217, 0.37);
}

.company-page-photo{
    margin-left: 15%;
}

.company-page-photo img{
    border-radius: 10px;
    width: 95%;
}

.company-page-photo .swiper-slide{
    display: flex;
    align-items: self-start;
}

.company-page-photo .swiper-pagination{
    background-color: transparent;
    width: fit-content !important;
    border-radius: 25px;
    margin-left: 30%;
}
.company-detaisl-swiper-container .swiper-pagination-bullet{
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0.5 ;
}

.company-detaisl-swiper-container .swiper-pagination-bullet-active{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.company-detaisl-swiper-container{ 
    height: 31vh !important;  
}

.navigation {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    padding: 0px;
    margin: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.37);
}

.navigation ul {
    list-style-type: none;
    padding: 25px 1%;
    margin: 0;
    display: flex;
}

.navigation li {
    margin-right: 36px;
    margin-left: 36px;
}

.navigation a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.navigationActive::before {
    content: "";
    position: absolute;
    color: #ee2c5b;
    width: 0;
    height: 4px;
    bottom: -6px;
    left: 0;
    background-color: rgba(226, 11, 60, 0.83);
    visibility: visible;
    width: 100%;
}

.company-details-carousel-div{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 61;
    background: transparent; 
    backdrop-filter: blur(5px);
}
.company-details-carousel{
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    z-index: 61;
    background: transparent; 
    backdrop-filter: blur(5px);
}
.company-details-carousel img{
    border-radius: 30px;
}
.company-details-carousel-btn {
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}

@media (min-width:641px) and (max-width:940px) {
    .company-details-info{
        margin-left: 6%;
    }
    .company-logo{
        display: flex;
        border: 1px solid gray;
        border-radius: 50%; 
        overflow: hidden;
        width: 150px;
        aspect-ratio: 1/1; 
        justify-content: center;
        margin-top: 4%;
    }
    
    .company-details-title{
        color: #000;
        font-family: poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .company-details-sub-title{
        color: #000;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .company-details-para{
        margin-bottom: 0%;
        color: #7A7A7A;
        font-family: poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .company-detaisl-swiper-container {
        height: 140px !important;
    }
    .company-page-photo img{
        border-radius: 10px;
        width: 150px;
    }
    .icon{
        height: 16px;
    }  
    .company-details-carousel{
        position: fixed;
        top: 6%;
        left: 15%;
        width: 65%;
        z-index: 61;
        background: transparent; 
        backdrop-filter: blur(5px);
    }
}

@media  (max-width:640px) {

    .company-details-title{
        color: #000;
        font-family: poppins;
        font-size: 100%;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .company-details-sub-title{
        color: #000;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .company-details-para{
        margin-bottom: 0%;
        color: #7A7A7A;
        font-family: poppins;
        font-size: 12.5px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
.company-page-left-row{
    justify-content: center;
    margin-top: 5%;
}
.company-logo{
    width: 100% ;
}
.company-details-info{
    text-align: left;
    margin-left: 5%;
    margin-top: 4%;
}

.company-detaisl-swiper-container {
    height: 280px !important;
}
.company-page-photo img{
    border-radius: 10px;
    width: 90%;
}
.company-page-photo {
   margin-left: 10%;
}
.company-page-photo .swiper-pagination{
    margin-left: 36%;
}
.navigation-div{
    padding-top: 10px;
    background-color: white;
}
.navigation a {
    font-size: 90%;
}
.navigation ul {
    margin-bottom: 10px;
}
.navigation li {
    margin-right: 0px;
    margin-left: 36px;
}
.isMobile{
    display: block !important;
}
.isDesktop{
    display: none !important;
}
.icon{
    height: 14px;
} 
.company-details-carousel{
    position: fixed;
    top: 6%;
    left: 5%;
    width: 95%;
    z-index: 61;
    background: transparent; 
    backdrop-filter: blur(5px);
}
}

/* Desktop */
.isMobile{
    display: none;
}
.isDesktop{
    display: block;
}

@media (min-width:641px) and (max-width:767px) {
    .company-page-left-row{
        justify-content: center;
        margin-top: 5%;
    }
    .company-logo{
        width: 100% ;
    }
    .company-details-info{
        text-align: left;
        margin-left: 5%;
        margin-top: 10%;
    }
    .company-detaisl-swiper-container {
        height: 300px !important;
    }
    .company-page-photo img{
        border-radius: 10px;
        width: 70%;
    }
    .company-page-photo {
       margin-left: 20%;
       margin-top: 5% !important;
    }
    .company-page-photo .swiper-pagination{
        margin-left: 25%;
    }
    .navigation {
        display: flex;
        justify-content: center;
    }
    .company-details-carousel{
        position: fixed;
        top: 15%;
        left: 10%;
        width: 85%;
        z-index: 61;
        background: transparent; 
        backdrop-filter: blur(5px);
    }
    .isMobile{
        display: block !important;
    }
    .isDesktop{
        display: none !important;
    }
}

@media  (max-width:380px) {
.company-details-info{
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;
}
}

