.section-container {
  height: 100vh;
  background-color: #fff; /* Adjust if needed */
}

.section-content {
  height: 100%;
  width: 60%;
}

.full-height {
  height: 100%;
  padding: 10%;
}

.text-content {
  margin-top: -5%;
  padding: 0 20px;
}

.title {
  font-size: 2.6rem;
  margin-bottom: 10%;
  width: 80%;
}

.highlight-text {
  position: relative;
  background-image: linear-gradient(#ee2c5b, #ee2c5b);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem; /* This sets the thickness of the underline */
  background-position: 0 100%; /* This positions the underline at the bottom of the text */
  padding-bottom: 5px; /* Adjust this to control the space between the text and the underline */
}

.description {
  font-family: Montserrat;
  font-size: 1.3rem;
}

.emphasis {
  font-weight: bold;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-image {
  max-width: 100%;
  height: auto;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* For mobile views, you might want to hide the desktop image and show the mobile image */
@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .full-height {
    padding-left: 4%;
    padding-right: 4%;
  }

  .image-content {
    padding: 0% !important;
  }

  .mobile {
    width: 100%;
  }

  .description {
    width: 100%;
  }

  .title{
    font-size: 1.8rem;
    width: 100%;
  }

  .highlight-text {
    background-size: 100% 0.3rem;
  }
  .section-two-image{
    margin-top: -60% !important;
  }
}
