.section-container {
  overflow: hidden;
  height: 100vh;
  background-color: #fff; /* Adjust if needed */
}

.section-content {
  height: 100%;
  width: 60%;
  overflow: hidden;
}

.full-height {
  height: 100%;
  padding: 10%;
}

.text-content {
  margin-top: 0%;
  padding: 25px 20px;
  overflow: hidden;
}

.title {
  text-align: left;
  font-size: 2.6rem;
  width: 100%;
  margin-bottom: 5%;
  overflow: hidden;
}

.highlight-text {
  position: relative;
  background-size: 100% 0.3rem;
  background-color: rgba(226, 11, 60, 0.83);
  line-height: 75px;
  color: white;
}

.description {
  font-family: Montserrat;
  font-size: 1.3rem;
  width: 100%;
}

.emphasis {
  font-weight: bold;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-image {
  max-width: 100%;
  height: auto;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}
.gg1 {
  display: block !important;
}
.gg2 {
  display: none !important;
}
/* For mobile views, you might want to hide the desktop image and show the mobile image */
@media (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .full-height {
    padding-left: 4%;
    padding-right: 4%;
  }

  .image-content {
    padding: 0% !important;
  }
  .gg1 {
    display: none !important;
  }
  .gg2 {
    display: block !important;
  }
  .mobile {
    width: 100%;
    margin-top: 0vh;
  }
  .mob22{
    margin-top: 19vh;
  }

  .description {
    width: 100%;
    font-size: 23px;
  }

  .title {
    font-size: 1.8rem;
    width: 100%;
    overflow: hidden;
  }

  .highlight-text {
    text-decoration: none;
    background-size: 100% 0.3rem;
    background-color: rgba(226, 11, 60, 0.83);
    line-height: 60px;
  }
  .section-two-image {
    margin-top: -40% !important;
  }
  .dis1 {
    font-family: "Noto Sans", sans-serif;
    /* font-weight: bold; */
  }
  .piclower-text{
    display: flex;
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    color: #000000ba;
    font-weight: 400;
    font-size: 1.1em;
    padding-top: 3vh;
    
    margin-left: 10px;

    
  }
}
