/* backgroundCircles.css */
.parallax-container {
    position: relative;
    overflow: hidden;
    /* Set the height as necessary */
}

/* Common styles for circles */
.circle {
    position: absolute;
    border-radius: 50%;
}
/* Apply animation to the circles */
.circle {
    animation: float 6s ease-in-out infinite;
    /* Other styles for your circle */
}




.tinycirc1 {
    animation-duration: 6s;
    animation-delay: 1s; /* Starts the animation 1 second later */
    z-index: 2000;
    background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
    width: 40px; /* Adjust size */
    height: 40px;
    top: 20% !important; /* Adjust position */
    left: 28%;
    border-radius: 50%; /* Makes the shape a circle */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
}

.tinycirc2 {
    z-index: 2000;

    animation-duration: 5s; /* Faster animation */
    animation-delay: 0s; /* Starts immediately */
    background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
    width: 20px; /* Adjust size */
    height: 20px;
    top: 13%; /* Adjust position */
    left: 26%;
    border-radius: 50%; /* Makes the shape a circle */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
}

.tinycirc3 {
    z-index: 2000;
    animation-duration: 6s; /* Faster animation */
    animation-delay: 2s; /* Starts immediately */
    background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
    width: 13px; /* Adjust size */
    height: 13px;
    top: 20%; /* Adjust position */
    left: 22%;
    border-radius: 50%; /* Makes the shape a circle */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
}

.tinycirc4 {
    z-index: 2000;
    animation-duration: 3s; /* Faster animation */
    animation-delay: 2s; /* Starts immediately */
    background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
    width: 22px; /* Adjust size */
    height: 22px;
    top: 12%; /* Adjust position */
    left: 17%;
    border-radius: 50%; /* Makes the shape a circle */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
}



@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}


@media (max-width: 658px) {
    .tinycirc1 {
        animation-duration: 6s;
        animation-delay: 1s; /* Starts the animation 1 second later */
        z-index: 2000;
        background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
        width: 40px; /* Adjust size */
        height: 40px;
        top: 5% !important; /* Adjust position */
        left: 18%;
        border-radius: 50%; /* Makes the shape a circle */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
    }
    
    .tinycirc2 {
        z-index: 2000;
    
        animation-duration: 5s; /* Faster animation */
        animation-delay: 0s; /* Starts immediately */
        background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
        width: 20px; /* Adjust size */
        height: 20px;
        top: 0%; /* Adjust position */
        left: 16%;
        border-radius: 50%; /* Makes the shape a circle */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
    }
    
    .tinycirc3 {
        z-index: 2000;
        animation-duration: 6s; /* Faster animation */
        animation-delay: 2s; /* Starts immediately */
        background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
        width: 13px; /* Adjust size */
        height: 13px;
        top: 5%; /* Adjust position */
        left: 12%;
        border-radius: 50%; /* Makes the shape a circle */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
    }
    
    .tinycirc4 {
        z-index: 2000;
        animation-duration: 3s; /* Faster animation */
        animation-delay: 2s; /* Starts immediately */
        background: rgba(226, 11, 60, 0.83); /* Adjust color and opacity */
        width: 22px; /* Adjust size */
        height: 22px;
        top: 0%; /* Adjust position */
        left: 7%;
        border-radius: 50%; /* Makes the shape a circle */
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* Creates a shadow effect for depth */
    }
}