.box-container {
    background: repeating-linear-gradient(
            to right, rgba(255, 142, 165, 0.24),
            rgba(141, 198, 255, 0.2), rgba(212, 170, 255, 0.2), rgba(237, 255, 137, 0.2));
    background-size: 400% 400% ;
    animation: animate-background 10s infinite ease-in-out;

    transition: opacity 1s ease-in-out; /* Smooth transition for the fade effect */
    z-index: -1;
    height: 100vh; /* Full height of the viewport */
    width: 100%;
}

/* CSS */
.box-container {
    position: relative; /* Updated */
    overflow: hidden; /* Hide the excess of the pseudo-element */
    /* your existing styles */
    background-attachment: fixed; /* This creates a simple parallax effect */
}

/* Pseudo-element for the blur effect */
.box-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; /* or the height of your choice */
    background: linear-gradient(transparent, white); /* Gradient from transparent to the background color */
    z-index: 2; /* Above the container's content */
}

/* If you have text or other content in .box-container, you might need to position it appropriately */
.content-inside-box {
    position: relative; /* if not already positioned */
    z-index: 1; /* Below the pseudo-element */
}


.boxedup {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    /* Full height of the viewport */

}

.info-section-forBusiness {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.info-section-forBusiness  h1 {
    color: #000000;
    font-family: Poppins;
    font-size:3rem;
    width: 40vw;
    font-weight: 700;
    margin-bottom: 2%; /* Space between title and line */
}

.line-separator {
    border: 0;
    border-top: 1px solid #000; /* Adjust color as needed */
    width: 30vw;/* Adjust width as needed */
    margin: 0% auto 2%; /* Center the line and add space below */
}

.info-section-forBusiness p{
    color: #595959;
    font-family: Poppins;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    font-weight: 550;
    margin-bottom: 2%; /* Space between description and button */
}

.info-section-forBusiness button {
    text-align: center;
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 0.5% 2% 0.5% 2%; /* Larger padding for a bigger button */
    width: auto;
}

.forafter {
    width: 100%;
    height: max-content;
    padding: 3% 3% 5% 5%;

}

.toggle-forbusiness {
     width: 100vw;
     text-align: left;
     padding: 1%;
     font-weight: 600;
     font-size: 1.5rem;
     font-family: Poppins, sans-serif; /* It's good practice to have a fallback */
     border: none; /* Remove the border */
     background-color: rgb(255, 255, 255); /* Light grey background, you can change this */
     color: black;
    box-shadow: none !important; /* 'none' for no shadow, and '!important' to ensure override */

    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }

.toggle-forbusiness:hover {
    cursor: pointer; /* Optional: show a hand cursor when hovering */

    background-color: rgb(255, 255, 255); /* Slightly darker grey on hover */
    color: black; /* No need to repeat other styles; they are inherited from the non-hover state */
}

/* If you want to remove the default outline on focus for accessibility reasons,
you should provide alternative styles to indicate focus state */
.toggle-forbusiness:focus {
    outline: none !important; /* Remove the outline */
    box-shadow: none !important; /* Remove the blue focus shadow */
    outline: none;
    background-color: rgb(255, 255, 255); /* Slightly darker grey on hover */
    color: black;
}

/* Ensure no active or focus styles are applied by Bootstrap */
.toggle-forbusiness:active, .toggle-forbusiness:focus {
    /* Override any specific ":active" or ":focus" styles applied by Bootstrap */
    box-shadow: none !important; /* Remove the blue focus shadow */
}

.line-vert-separator-forbusiness {
    border-left: 1px solid #000; /* This creates the line */
    height: 100%; 
    margin: 0;
    width: 0;
    /* Your existing styles for the vertical line */
    flex-shrink: 0; /* Prevents the line from shrinking if the content needs more space */
    margin-right: 10px;/* This ensures the div is only as wide as the border */
}
/* YourStylesheet.css */

.combined-column {
    display: flex;
    align-items: center; /* if you want to align the items vertically centered */
}

.line-and-content {
    display: flex;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column; /* Stack the title and button vertically */
}


.contentrow {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.section {
    z-index: 1;
    height: max-content;
}
.contentcoltext {

    margin: 7% 0% 3% -3%;
    text-align: left;
}

.contentcol {
    /* margin: 7% 0% 3% 0%; */
    padding: 7% 0% 3% 0%;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.titlehead-forbusiness {
    font-family: Poppins;
    font-weight: 600;
    text-align: left;
    width: 75%;
    margin: 7% 0% 3% 0%;
}

.learnmore-forbusiness{

    z-index: 2000;
    background-color: rgba(226, 11, 60, 0.83);
    border: rgba(226, 11, 60, 0.83) 1px solid;
    margin-top: 2%;
    font-family: Poppins;
    width: auto;
    font-weight: 600;
}

.learnmore-forbusiness:hover {
    background-color: rgba(94, 6, 26, 0.83);

}
.proto {
    width: 70%;
    height: auto;
    /* align-self: flex-end; */
     /* This aligns itself vertically at the end, if needed */

}

.paratext {
    font-family: Poppins;
    /* align-self: flex-end; */
    width: 70%;
    margin-top: 5%;


}

.withFAQS{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;

}

.titleTwo-forbusiness {
    color: #000000;
    font-family: Poppins;
    font-size:2rem;
    width: 40vw;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 2%; /* Space between title and line */
}

/* CSS for Parallax */
.parallax-section {
    /* Set a general height for all parallax sections */
    height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This is important for the parallax effect */
}



/* Content style */
.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Add other stylings as needed */
}


@media (max-width: 658px) {
    .info-section-forBusiness  h1 {
        font-size:1.5rem;
        width: 65vw;
        margin-bottom: 5%;
    }
    .info-section-forBusiness p {
        color: #595959;
        font-family: Poppins;
        font-size: 63%;
        padding: 0%;
        width: 100%;
        text-align: center;
        font-weight: 550;
        margin-bottom: 7%; /* Space between description and button */
    }
    .info-section-forBusiness button {
        font-size: 1rem;
        padding: 2% 5%; /* Larger padding for a bigger button */
        width: auto;
    }
    .line-separator {
        width: 45vw;/* Adjust width as needed */
        margin: 0% 5% 5% 5%; /* Center the line and add space below */
    }
    .line-vert-separator-forbusiness {
       display: none;
    }
    .titlehead-forbusiness {
        font-family: Poppins;
        font-size: 120%;
        font-weight: 600;
        text-align: left;
        width: 100%;
        margin: 7% 0% 3% 0%;
    }
    .titleTwo-forbusiness {
        color: #000000;
        font-family: Poppins;
        font-size:1rem;
        width: 80vw;
        line-height: 2rem;
        font-weight: 700;
        margin-bottom: 2%; /* Space between title and line */
    }
    .contentcol {
        /* margin: 7% 0% 3% 0%; */
        padding: 7% 0% 3% 0%;
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .proto {
        width: 95%;
        height: auto;
        /* align-self: flex-end; */
         /* This aligns itself vertically at the end, if needed */
    
    }
    .paratext {
        font-family: Poppins;
        /* align-self: flex-end; */
        width: 85%;
        margin-top: 5%;
    }
    .section-forbusiness{
        justify-content: center;
    }
}

@media (min-width: 659px) and (max-width: 767px) {

    .section-forbusiness{
        justify-content: center;
    }
    
    .info-section-forBusiness  h1 {
        font-size:2rem;
        width: 60vw;
    }

    .info-section-forBusiness p {
        color: #595959;
        font-family: Poppins;
        font-size: 1rem;
        width: 100%;
        text-align: center;
        font-weight: 550;
        margin-bottom: 3%; /* Space between description and button */
    }

    .info-section-forBusiness button {
        text-align: center;
        font-size: 1rem;
        font-family: Poppins;
        font-weight: 600;
        border-radius: 1.5rem;
        padding: 0.5% 2% 0.5% 2%; /* Larger padding for a bigger button */
        width: auto;
    }

    .titlehead-forbusiness {
        font-family: Poppins;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: left;
        width: 85%;
        margin: 7% 0% 3% 0%;
    }
    .line-vert-separator-forbusiness {
        height: 100%;
    }
    .titleTwo-forbusiness {
        color: #000000;
        font-family: Poppins;
        font-size:2rem;
        width: 60vw;
        line-height: 3rem;
        font-weight: 700;
        margin-bottom: 2%; /* Space between title and line */
    }
}

@media (min-width: 768px) and (max-width: 1034px) {
    .info-section-forBusiness  h1 {
        font-size:2.5rem;
        width: 55vw;
    }
    .line-separator {
        border: 0;
        border-top: 1px solid #000; /* Adjust color as needed */
        width: 45vw;/* Adjust width as needed */
        margin: 0% auto 2%; /* Center the line and add space below */
    }
    .titlehead-forbusiness {
        font-family: Poppins;
        font-weight: 600;
        text-align: left;
        width: 100%;
        margin: 7% 0% 3% 0%;
    }
    .line-vert-separator-forbusiness {
        height: 100%; 
    }
    .titleTwo-forbusiness {
        color: #000000;
        font-family: Poppins;
        font-size:2rem;
        width: 70vw;
        line-height: 3rem;
        font-weight: 700;
        margin-bottom: 2%; /* Space between title and line */
    }
}

@media (max-width: 390px) {
    .info-section-forBusiness p {
        color: #595959;
        font-family: Poppins;
        font-size: 60%;
        padding: 0%;
        width: 100%;
        text-align: center;
        font-weight: 550;
        margin-bottom: 7%; /* Space between description and button */
    }   
    .info-section-forBusiness  h1 {
        font-size:1.3rem;
        width: 65vw;
        margin-bottom: 5%;
    }
}