/* Base styles */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;



}

.content {
    margin-top: 5%;
    padding: 15%;

    align-items: flex-start;
}

.text-content {
    align-items: flex-start;
    flex: 2;
}

.main-name {
    font-size: 2.8rem;
    font-family: "League Spartan-SemiBold";
    text-align: left;
    margin-bottom: 4%;
    width:90%;
    
}

.text-deco {
    position: relative;
    background-image: linear-gradient(#ee2c5b, #ee2c5b);
    background-repeat: no-repeat;
    background-size: 100% 0.5rem; /* This sets the thickness of the underline */
    background-position: 0 100%; /* This positions the underline at the bottom of the text */
    padding-bottom: 5px; /* Adjust this to control the space between the text and the underline */
}

.highlight {
    color: black;
}

.highlight-alt {
    color: #e20b3c;
}

.description {
    font-size: 1.2rem;

    width:52%;
    font-family: Montserrat;
    font-weight: 400;
    text-align: left;


}


.signup-btn {
    padding: 2% 5%;
    border: none;
    border-radius: 40px;
    background-color: #ee2c5b;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "League Spartan-SemiBold";
    font-size: 1rem;
    align-items: flex-start;
    justify-content: left;
}

.hero-text {
    align-items: flex-start;

    padding-left: 15%;




}

.signup-btn:hover {
    background-color: #DFE077;
}



.base-image {
    width: 70%;
    display: block;
    z-index: 0;
    margin-top: 3%;
    /* margin-left: 0%; */
    margin-left: -6%;
}

.desktop {
    display: block;
}

.mobile {
    display: none ;
}


/* Mobile styles */
@media (max-width: 768px) {
    .hero-text {

        align-items: center;
        padding-top: 25%;


    }

    .hero-text{
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .main-name {
        font-size: 2.5rem;
        text-align: center;

    }

    .description {
        font-size: 1.2rem;
        width: 70%;
    }

    .signup-btn {
        padding: 12px 16px;
        font-size: 1rem;
    }

    .text-content{
        justify-content: center;
        align-content: center;
    }
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .base-image {
        width: 95%;
        overflow: clip;
    }
}

@media (max-width: 600px) {
    .hero-text {
        padding-top: 0%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
        align-content: center;
    }
    .main-name {
        font-size: 1.8rem;
        width:100%;
        overflow: hidden;
    }

    .mobile{
        margin: 0%;
    }
    .text-deco {
        background-size: 100% 0.3rem;
    }

    .main-name {
        font-size: 1.5rem;

        text-align: center;
    }

    .hero-description {
        font-size: 0.9rem !important;

        text-align: center;
        margin-bottom: -5%;
    }
    .description{
        width:60%;
    }

    .signup-btn {
        width: 70% !important;
    }
}


.mob-img {

    margin-top: 0px;
    align-items: center;
    max-width: 70%;
    margin-left: 15%;
}