.faqInner {
  display: flex;
  flex-direction: column;
  margin: 3rem 16rem;
  border-radius: 43px;
  gap: 20px;
  /* display: flex; */
  text-align: left;
}
.accordion-button,
.collapsed,
.faqItems {
  border-radius: 21px !important;
  background: rgb(246, 245, 244);
  padding: 15px;
  border: none !important;
}
.accordion-button:not(.collapsed) {
  background: rgb(246, 245, 244) !important;
  border: none !important;
  border-color: rgb(246, 245, 244) !important;
}
.faqbodyPP {
  border-radius: 21px !important;
  font-size: 0.9rem;
  font-family: Poppins;
  color: rgb(78 78 78 / 81%) !important;
}
.accordion button{
  box-shadow: none !important;
}
.faqbodyHeader{
  line-height: 1.5rem;
  width: 95%;
}
.faqbodyHeader button{
  font-family: Poppins;
}
@media (max-width: 600px) {
  .faqInner {
    margin: 21px;
  }
  .newMsg1 {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 830px) {
  .faqInner {
    margin: 38px;
  }
  .newMsg1 {
    font-size: 30px;
  }
}
@media (min-width: 830px) and (max-width: 1000px) {
  .faqInner {
    margin: 21px;
  }
  .newMsg1 {
    font-size: 30px;
  }
  .sec6head{
    width: 100%;
  }
  /* .sec6cont {
    width: 100% !important;
    height: 100%;
    overflow: hidden;
  }
  .section6 {
    width: 85% !important;
    height: 28vh !important;
  } */
  .sec6head p{
    width: 100%;
    font-size: 3.5vw!important;
  }
  .sec6stuffs{
    height: fit-content;
    padding: 0;
    margin: 3vh!important;
  }
}




.succStory{
  font-size: 1.5rem;
  color: #757272;
  width:55%;
  text-align: center;
  margin-top: 0%!important;
  margin-bottom: 2%!important;
}
.newMsg1{
  font-size: 3rem;
  width: 63%;
  font-weight: bold;
}
@media (min-width:600px) and (max-width:830px) {
  .sec-two-sub{
    width: 70%;
    font-weight: 600;
  }
}
@media (max-width:600px) {
  .sec-two-head{
    font-size: 1.3rem;
    width:80%;
    font-weight: 400;
    margin-bottom: 5%;
    margin-top: 12%;
  }
  .sec-two-sub{
    width: 95%;
    font-weight: 600;
    margin-left: 7%;
  }
  .job-search-section {
    padding: 4%;
  }
  .newMsg1{
    width: 110%;
    font-size: 25px !important;
  }
  /* .sec-two-container{
      border-top:1px #888 solid;
      border-bottom:1px #888 solid;
  } */
  .faqbodyPP{
    font-size: 0.8rem;
  }
  .faqbodyHeader button{
    font-size: 0.8rem;
  }
}

/* A tag links clas */
.linkeda {
  color: black;
}