.label-container{
    background-color: #ecedff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.dropdown-title{
    width: 80%;
}
.dropdown-button{
    font-size: 3rem;
}
.input-box{
    border:2px solid #ecedff;
    padding: 2rem 1rem;
    color: #6c6c6c;
}