
.fourth-row{
    /* border: 1px solid black; */
    width: 70%;
    margin: 0 auto;
}
.fourth-left{
    /* border: 1px solid black; */

}
.fourth-right{
    /* border: 1px solid black; */
    
}
.fourth-rating-box{
    /* border: 1px solid black; */
    width: 100%;
    height: 33%;
}
.form-stars{
    /* border: 1px solid black; */

}
.inp-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.review-label{
    width: 100%;
    height: 60px;
}
.rating-div{
    /* border: 1px solid black; */
}
.rating-div .rating-title{
    /* font-size: 0.8rem; */
    color: #6C6C6C;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 12.4px */
}

.review-four-star-icon{
    margin-top: 7px;
  }

#linear-scale{
    width: 80% ;
    display: flex ;
    justify-content: space-between ;
  }
.star-icon {
    font-size: 0.5rem;
    cursor: pointer;
    margin-bottom: 2vw;


}

.review-four-head{
    color: var(--text-titles-primary-dark, #0E1012);
    font-family: DM Serif Text;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-align: left !important;
}
.review-four-head-h5{
    color: #6C6C6C;
font-family: Poppins;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 30px */
text-align: left !important;
}


@media (min-width:1200px) {
    .review-label{
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 124%; /* 24.8px */
    }
    
    .form-stars{
        /* border: 1px solid black; */
        /* height: 100px; */
    }
}
@media (max-width:1200px) {
    .fourth-row{
        min-height: fit-content;
    }
    .review-label{
        font-size: 1.5rem ;
        height: 50%;
        width: 100%;
        background-color: #DFE077;
        padding: 1rem 1rem;
        border: 1px solid red;
    }
    .form-stars{
        height: 50%;
    }
    
}

@media (max-width: 800px) {
    
    .fourth-left{
        /* border: 1px solid black; */
    
    }
    .fourth-right{
        width: 100%;
    }
    .review-label{
        font-size: 1.5rem ;
        height: 50%;
        width: 100%;
        background-color: #DFE077;
        padding: 1rem 1rem;
        border: 1px solid red;
    }
    .form-stars{
        height: 50%;
    }
}
@media (width<500px) {
    .star-icon{
        width: 5rem;
    }
}


