
.fourth-row{
    /* border: 1px solid black; */
    width: 70%;
    margin: 0 auto;
}
.fourth-left{
    /* border: 1px solid black; */

}
.fourth-right{
    /* border: 1px solid black; */
    
}
.fourth-rating-box{
    /* border: 1px solid black; */
    width: 100%;
    height: 33%;
}
.form-stars{
    /* border: 1px solid black; */

}
.inp-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.review-label{
    width: 100%;
    height: 60px;
    font-size: 2rem;
}
.rating-div{
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.rating-div .rating-title{
    /* font-size: 0.8rem; */
    color: #6C6C6C;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 12.4px */
}

.review-four-star-icon{
    margin-top: 7px;
  }

#linear-scale{
    width: 80% ;
    display: flex ;
    justify-content: space-between ;
  }
.star-icon {
    font-size: 0.5rem;
    cursor: pointer;
    margin-bottom: 2vw;


}

.review-four-head{
    color: var(--text-titles-primary-dark, #0E1012);
    font-family: DM Serif Text;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    text-align: left !important;
}
.review-four-head-h5{
    color: #6C6C6C;
font-family: Poppins;
font-size: 20px;
font-style: italic;
font-weight: 400;
line-height: 150%; /* 30px */
text-align: left !important;
}


@media (min-width:1200px) {
    .review-label{
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 124%; /* 24.8px */
    }
    
    .form-stars{
        /* border: 1px solid black; */
        /* height: 100px; */
    }
}
@media (max-width:1200px) {
    .fourth-row{
        min-height: fit-content;
    }
    .review-label{
        font-size: 1.5rem ;
        height: 50%;
        width: 100%;
        padding: 1rem 1rem;
    }
    .form-stars{
        height: 50%;
    }
    .star-icon{
        width: 2rem;
    }
}

@media (max-width: 1000px) {
    
    .fourth-left{
        /* border: 1px solid black; */
        width: 100%;
        height: fit-content;
    }
    .fourth-right{
        width: 100%;
    }
    .review-label{
        font-size: 1.5rem ;
        height: 28%;
        width: 100%;
        padding: 1rem 0rem;
    }
    .rating-div{
        width: 19%;
        align-items: flex-start;
        /* border: 1px solid black; */
    }
    .rating-title{
        height: 50%;
    }
    .form-stars{
        height: 41%;
    }
    .rating-box{
        height: 26%;
    }
    .inp-group{
        margin:0;
    }
}
@media (min-width: 600px) and (max-width: 830px) {
    .desktop-view {
        display: none !important;
    }
}
@media (width<600px) {
.fourth-row{
    /* border: 1px solid black; */
    width: 95%;
    margin: 5% auto;
}
.review-four-head{
    font-size: 24px;
    line-height: 120%; 
    padding-top: 4%;
    padding-bottom: 4%;
}
.inp-group{
    flex-wrap: nowrap;
}
.rating-title{
    font-size: 12px !important;
   
}
.rating-div{
    align-items: flex-start;
}
.desktop-view {
    display: none !important;
}
}

@media (width<500px) {
    .star-icon{
        /* width: 5rem; */
    }
    .fourth-rating-box{
        height: auto;
    }
    .review-label{
        color: #000;
        font-family: Poppins;
        font-style: normal;
        font-size: 1.1rem;
        
    }
    .form-stars{
        /* height: 5rem; */
    }
    .rating-div{
        width: 33%;
    }
    .star-icon{
        font-size: 0.5rem !important;
    }
    .inp-group{
        width: 100%;
        font-size: 0.3rem;
        /* gap: 2rem;    */
        flex-wrap: nowrap;
        margin-top: 0;
        justify-content: unset;
    }
    .review-label{
        padding: 0 0;
    }
}


