.seven-review-row{
    width: 70%;
    padding: 2%;
    color: var(--Black, #201C1D);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.25px;
}

.search-features{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 25px 25px 25px 25px;
}
.search-features-active{
    border-radius: 25px 25px 0px 0px;
    border-bottom:none !important ;
}
.search-features:hover{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.search-features:focus{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.search-features:active{
    width: 100% !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid #888; 
}

.review-seven-options {
    border: 1px solid #888; 
    border-radius: 0px 0px 25px 25px;
    height: 320px;
    overflow-y: scroll;
    padding-left: 15%;
    padding-top: 5%;
    text-align: start;
}

.review-seven-options::-webkit-scrollbar {
    width: 0em; /* Adjust as needed */
  }


.Seven-selcted-key{
    background-color: #ECEDFF;
    width: fit-content;
    border-radius: 25px;
    height: 40px;
}

.review-seven-options .form-check{
    margin-top: 10px;
    margin-bottom: 15px;
    height: 60px;
}
  
  .review-seven-custom-checkbox input[type="checkbox"] {
    border: 2px solid #EF2B5B;
    border-radius: 4px; 
    padding: 15px;
  }
  
  .review-seven-custom-checkbox label {
    color: #333; 
    font-weight: 400; 
    padding-top: 7px;
    padding-left: 25px; 
    font-size: 18px;
    font-family: Poppins;
  }

  .review-seven-custom-checkbox .form-check-input:checked {
    background-color: #EF2B5B;
    border-color: #EF2B5B;
}



.seven-review-input-with-icon{
  position: relative;
}

.seven-review-dropdown-icon {
  position: absolute;
  top: 50%;
  right: 30px; /* Adjust the right distance as needed */
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the icon from blocking input clicks */
  color: #555; /* Icon color */
  font-size: 30px; /* Icon size */
  z-index: 1;
}