.infoBox {
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    text-align: left;
    padding: 3% 2% 5% 2%;
    min-height: 90%;
    width: 95%;
    margin: 6% 1% 2% 2%;
}

.smollbox {
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    text-align: left;
    justify-content: center;
    padding: 2% 2%;
    width: 47.5%;
    min-height: 90%;
    margin: 1% 1% 2% 1%;

}

.infomorebox {
    border-radius: 15px;
    border: 1px solid rgba(59, 59, 59, 0.56);
    background: var(--white-100, #FFF);
    text-align: left;
    justify-content: center;
    padding: 3% 3%;
    width: 47.5%;
    min-height: 90%;
    margin: 1% 1% 2% 1%;

}


.backgroundgrey {
    background-color: rgba(217, 217, 217, 0.29);

}

.OverviewRow{

    margin: 0% 1% 0% 0%;

    align-content: center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 110%; /* Adjusted to be within the container */
}

.smallerRow{
    justify-content: center;
    padding:2%;
}

.rowtext {
    display: flex; /* Set this container to display as flexbox */
    flex-direction: column; /* Stack children elements vertically */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}

.rowtext p{
    font-family: Poppins;
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
}
.circleBorder {
    align-self: center;
    margin-bottom: 12px;
    width: 3.5rem; /* Define the size of the circle */
    height:3.5rem; /* Make sure width and height are equal */
    border: 1px solid rgb(148, 148, 148); /* Make a border. You can change color and thickness */
    border-radius: 50%; /* The border-radius makes it a circle */
    background-color: transparent; /* No fill */
    position: relative;
    opacity: 80%;


}

.iconCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* or whatever size you prefer */
    color: #4d5154;
    opacity: 95%;
}


.infoBoxTwo {
    justify-content: center;  /* Center horizontally */
    display: flex;
    background: var(--white-100, #FFF);
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding:1%;
    padding-bottom: 2%;
    margin: 2%;
    text-align: left;
    min-height: 200px;
    width: 48%;
}

.rectBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.Rect {
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    display: flex;  /* Enable Flexbox */
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3% 3%;
    border-radius: 15px;
    margin: 1%;
}

.columnpens{
    height: 30vh;
    column-count: 2; /* number of columns */
    column-gap: 12px; /* space between columns */
    flex: 1 0 50px;
    display: block;
}
.groupbox{
    padding: 0% 0% 1% 0%;
}

.greenTick{
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 75% */
}

.bubble{
    color: #484848;
    font-family: poppins;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 20px;
    width: 150px;
    padding: 1% 3%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.Rect h6{
    color: #484848;
    font-family: poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.companyPage-seemore{
    color: var(--Subtle-grey, #979797);
    font-family: poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    border: none;
    line-height: 18px; /* 150% */
}
.infoBox-row{
    text-align: left;
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
}
.infoBoxThree{
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    text-align: left;
    padding: 2%; 
    display: inline-table;
    height: 300px; /* Set a fixed height or any other size you prefer */
    /* overflow: auto;  */
}

.company-page-flexibility{
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    width: 32%;
    padding: 0;
    min-height: 200px;
}

.company-page-flexibility-header{
   min-height: 70px;
   overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    background: conic-gradient(from -16deg at 50% 50%, rgba(246, 181, 168, 0.37) 0deg, rgba(226, 197, 235, 0.37) 198.74999284744263deg, rgba(67, 57, 242, 0.07) 359.9639940261841deg);
}

button:hover {
    box-shadow: none !important;
}
button:focus {
    box-shadow: none !important;
}
.btn:focus-visible{
    box-shadow: none !important;
}

.iconttext{
    min-height: 30px;
}

@media (min-width:641px) and (max-width:940px) {
  
    .company-page-flexibility-header{
        padding:20px !important;
    }
     .company-page-flexibility-header h2{
        margin-left: 10px !important;
    }
    .infoBox{
        min-height: 330px;
        margin-left: 3% !important;
        padding: 2% 3%;
    }
    .infoBoxTwo{
        min-height: 330px;
    }
}

@media  (max-width:640px) {
    .company-page-flexibility {
        width: 90%;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .company-page-flexibility-row {
        justify-content: center !important;
    }

    .infoBox {
        margin-left: 5% !important;
        margin-top: 8%;
        margin-bottom: 4%;
        width: 95%;
        padding: 2% 2%;
    }

    .infoBoxTwo {
        margin-left: 5% !important;
        margin-top: 4%;
        margin-bottom: 8%;
        width: 95%;
    }

    .infoBoxThree {
        width: 95% !important;
        margin-left: 2% !important;
    }

    .infoBox-row {
        display: flex;
        justify-content: center !important;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.company-details-sub-title {
    font-weight: 600;
}