.infoBox {
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    text-align: left;
    padding: 2%;
    min-height: 200px;
    width: 48%;
}

.infoBox h2{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: system-ui;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.infoBox p{
    color: #5B5B5B;
    font-family: system-ui;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.28px;
}

.infoBoxTwo {
    justify-content: center;  /* Center horizontally */
    display: flex;
    background: var(--white-100, #FFF);
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    display: flex;
    flex-wrap: wrap;
    padding:1%;
    padding-bottom: 2%;
    margin: 2%;
    text-align: left;
    min-height: 200px;
    width: 48%;
}

.infoBoxTwo h2{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: system-ui;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rectBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.Rect {
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    display: flex;  /* Enable Flexbox */
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
    margin: 1%;
    min-height: 120px;
}

.greenTick{
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: system-ui;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 75% */
}

.bubble{
    color: #484848;
    font-family: system-ui;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.Rect h6{
    color: #484848;
    font-family: system-ui;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.companyPage-seemore{
    color: var(--Subtle-grey, #979797);
    font-family: system-ui;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    border: none;
    line-height: 18px; /* 150% */
}

.infoBoxThree{
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    text-align: left;
    padding: 2%; 
    height: 300px; /* Set a fixed height or any other size you prefer */
    overflow: auto; /* Make the div scrollable */
}

.company-page-flexibility{
    border-radius: 15px;
    border: 0.1px solid rgba(151, 151, 151, 0.2);
    background: var(--white-100, #FFF);
    width: 32%;
    padding: 0;
}

.company-page-flexibility-header{
   min-height: 70px;
   overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    background: conic-gradient(from -16deg at 50% 50%, rgba(246, 181, 168, 0.37) 0deg, rgba(226, 197, 235, 0.37) 198.74999284744263deg, rgba(67, 57, 242, 0.07) 359.9639940261841deg);
}

.company-page-flexibility-header h2{
    color: #000;
    font-family: system-ui;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}

.company-page-flexibility p{
    color: #828282;
    font-family:  system-ui;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 150% */
}

button:hover {
    box-shadow: none !important;
}
button:focus {
    box-shadow: none !important;
}
.btn:focus-visible{
    box-shadow: none !important;
}

.iconttext{
    min-height: 30px;
}

@media (min-width:641px) and (max-width:940px) {
    .company-page-flexibility p{
        color: #828282;
        font-family:  system-ui;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
    }
    .company-page-flexibility-header{
        padding:20px !important;
    }
     .company-page-flexibility-header h2{
        margin-left: 10px !important;
    }
    .infoBox{
        min-height: 330px;
        margin-left: 3% !important;
    }
    .infoBoxTwo{
        min-height: 330px;
    }
}

@media  (max-width:640px) {
    .company-page-flexibility{
        width: 90%;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .company-page-flexibility-row{
        justify-content: center !important;
    }

    .infoBox {
        margin: 0;
        margin-top: 8%;
        margin-bottom: 4%;
        min-height: fit-content;
        width: 95%;
    }
    .infoBoxTwo{
        margin: 0;
        margin-top: 4%;
        margin-bottom: 8%;
        width: 95%;
    }
    .infoBox-row{
        display: flex;
        justify-content: center !important;
    }
}