
.sec-one-sub{
    font-size: 2.5rem;
    color: #666;
    width:80%;
    text-align: center;
    margin-bottom: 1%;
}
.sec-one-sub-p{
    font-size: 1rem;
    color: #888;
    width: 60%;
    margin: 0 auto;
}

.section-one-first-img{
    width: 55% !important;
    margin-top: 3% !important;
}

.img-in-rectangle{
    width:100%;
    margin-bottom: 0;
}

.rectangle {
    width: 180px; /* Adjust based on your needs */
    height: 250px; /* Adjust based on your needs */
    background-color: #f5f5f5; /* Color of the rectangle */
    margin: 0 auto; /* Center the rectangle */
    border-radius: 10px;
}

.rectangle-row{
    margin-top: 0% !important;
    margin-left: 1%;
}

.rectangle-row .col-md-3{
   
    width: 19% !important;
}

.JoinButtonS {
    padding: 8px;   /* top/bottom padding and left/right padding */
    font-size: 17px;
    font-weight: bold ;
    color: white;
    width: 13% ;
    background-color: #e20b3c;  /* or any desired color */
    border: none;  /* remove default border */
    border-radius: .5rem;  /* rounded corners, adjust as desired */
    align-content: center;/* smooth transition for hover effect */
}

.JoinButtonS:hover {
    width: 13.5% !important;
    font-size: 18px;
    background-color: rgb(255, 213, 90);  /* slightly darker pink on hover */
    color: white !important; 
    border: none !important;
}

.JoinButtonS:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 213, 90); /* Bootstrap's way to indicate focus, adjust color as needed */
    color: white !important; 
    border: none !important;
}

.JoinButtonS:active {
    background-color: rgb(255, 213, 90); /* even darker  on active click */
    color: white !important; 
    border: none !important;
}
.sec-one-last-p{
    color: #888 !important;
}

.mobile{
    display: none !important;
}
.desktop{
    display: block !important;
}

@media (min-width:600px) and (max-width:830px) {
    .sec-one-sub-p{
        color: #888;
        width: 80%;
    }
    .section-one-first-img{
        width: 65% !important;
        margin-top: 3% !important;
    }
    
    .rectangle-row .col-md-3{
    width: 29% !important;
    }
    .rectangle {
        width: 180px; /* Adjust based on your needs */
        height: 220px; /* Adjust based on your needs */
    }
    .img-in-rectangle{
        width:70%;
        margin-bottom: 0;
    }
    .rectangle h4{
        font-size: large !important;
    }
    .sec-one-last-p{
        margin-top: 40px !important;
        font-size: medium !important;
        width: 80% !important;
    }
    .JoinButtonS {
        padding: 8px;   /* top/bottom padding and left/right padding */
        font-size: 17px;
        font-weight: bold ;
        color: white;
        width: 20% ;
    }
    .JoinButtonS:hover {
        width: 21% !important;
        font-size: 18px;
    }
}

@media (max-width:600px) {
    .job-search-section h3{
        font-size: 1.7rem !important;
        width: 100% !important;
        margin: 1rem 0;
    }
    .job-search-section p{
        font-size: 15px;
        width: 100% !important;
        font-family: "Inter", sans-serif!important;
        line-height: 1.75rem;
    }
    
    
    .rectangle{
        width: 170px; /* Adjust based on your needs */
        height: 220px; /* Adjust based on your needs */
    }
    .rectangle h4{
        font-size: large;
    }
    .sec-one-last-p{
        margin-top: 40px !important;
        font-size: medium !important;
        width: 80% !important;
    }
    .JoinButtonS{
        width: 50%;
        margin: 18px 0px;
        padding: 8px ;
        font-size: 15px;
    }
    .mobile{
        display: block !important;
        width: 85%!important;
    }
    .desktop{
        display: none !important;
    }
    .howwecan{
        font-weight: 200!important;
        color: #777272;
    }
    .sec-one-sub{
        font-weight: bold;
        color: rgb(51, 51, 51);
    }
    .mobBtnsec1{
        margin: 0px !important;
    }
 }

/* old */

.job-search-section {
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 50px; */
    text-align: center;
    position: relative;
}

.line {
    width: 1px;
    height: 6rem; /* Adjust based on your needs */
    background-color: #000; /* Color of the line */
    margin: 0 auto; /* Center the line */
}



/* Custom class to reduce horizontal padding */
.tight-padding {
    padding-left: 5px;  /* Adjust as needed */
    padding-right: 5px; /* Adjust as needed */
}


.job-search-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.job-search-section .col {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;  /* Center children vertically */
    align-items: center;  /* Center children horizontally */
}


.job-search-section h4 {
    font-size: 1.5rem;
    /* color: #888; */
    width: 70%;
    font-weight: 400;

}
.section-one-container{
    border: 1px solid black;
}
.sec-one-h5{
    color: #4e4e4e;
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.4em;
}
.sec-one-h3{
    width: 40%;
    color: #222222;
    font-weight: 600;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
}

.sec-one-para{
    color: #656565;
    font-family: "Inter", sans-serif;
    width: 40%;
    font-size: 1.2rem;
    line-height: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f5f5f5; /* Color of the rectangle */
    margin: 0 auto; /* Center the rectangle */
    border-radius: 10px;
}

.card .card-h4{
    font-size: 1.1rem;
    color: #4e4e4e;
}
.card .card-img{
    width: 70%;
}
@media (800px<width<1200px  ) {
    .sec-one-para{
        color: #4e4e4e;
        font-size: 1rem;
        width: 80%;
        line-height: 1.4rem;
    }
    .sec-one-h3{
        width: 70%;
    }
   
    .card .card-h4{
        font-size: 0.8rem;
        color: #4e4e4e;
    }
    .card .card-img{
        width: 70%;
    }
}
@media (width<800px) {
    .sec-one-para{
        color: #4e4e4e;
        font-size: 1rem;
        width: 250px;
        line-height: 1.8rem;
    }
    .sec-one-h3{
        width: 50%;
    }
    
    .card .card-h4{
        font-size: 1.1rem;
        color: #4e4e4e;
    }
    .card .card-img{
        width: 70%;
    }
}

.hero-button{
    min-width: fit-content;
    padding: 1rem 1rem;
    font-size: 18px;
    font-weight: 700;
    background-color: #f04a72;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    border-radius: 15px;
    border: none;
}
.hero-button:hover {
   background-color: rgb(255, 213, 90);  
   color: black;
   transform: scale(1.08);
}