.content-hero .header-hero {
    color: #000000;  /* For visibility on gradient */
    margin-bottom: 5%;  /* Space between title and subtitle */
    font-size: 56px;
    font-weight: 700;
    font-family: Helvetica;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-align: center;
    width: 60% ;
    margin-left: 22% ;
    margin-right: 22% ;
    
}
.content-hero{
    display: flex;
    justify-content: center;
}
.hero-section {
    height: 100vh;
}

.content-hero .hero-sub {
    color: #000000;  /* For visibility on gradient */
    margin-bottom: 5%;  /* Space between subtitle and button */
    font-size: 24px;
    font-weight: 400;
    font-family: "Noto Sans Old South Arabian";
    text-align: center;
    width: 65% ;
    margin-left: 20% ;
    margin-right: 15% ;
}

.hero-header-span{
    position: absolute;
    top: 10%;
    left: 26%;
    width: 27%;
}

.JoinButton-hero {
    padding: 8px;   /* top/bottom padding and left/right padding */
    font-size: 17px;
    font-weight: bold ;
    color: white;
    width: 13% ;
    background-color: #e20b3c;  /* or any desired color */
    border: none;  /* remove default border */
    border-radius: .5rem;  /* rounded corners, adjust as desired */
    align-content: center;/* smooth transition for hover effect */
}

.JoinButton-hero:hover {
    width: 13.5% !important;
    font-size: 18px;
   background-color: rgb(255, 213, 90);  /* or any desired color */
   color: white;
}

.JoinButton-hero:active {
    background-color: rgb(255, 213, 90) !important;
    color: white !important; 
    border: none !important;
}

.JoinButton-hero:focus {
    background-color: rgb(255, 213, 90) !important;
    color: white !important; 
    border: none !important;
}

.hero-section{
    height: 120vh;
    background: linear-gradient(180deg,#fed2f1 0%,rgba(149,184,231,.32) 59.26115522934533%,rgba(248,209,242,.04) 100%);
    /* box-shadow: 0 1px 2px #00000040; */
}

@media (min-width:600px) and (max-width:830px) {
    .hero-section{
        height: 95vh;
    }
    .content-hero .header-hero {
        font-size: 42px;
        letter-spacing: 1px;
        line-height: 1.4em;
        width: 95% !important;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .hero-header-span{
        position: absolute;
        top: 9%;
        left: 12%;
        width: 33%;
    }
    .hero-sub{
        width: 95% !important;
        margin-left: 2% !important;
        margin-right: 5% !important;
        letter-spacing: 1px;
        line-height: 1.4em;
    }
    .JoinButton-hero {
        width: 25% !important;
        margin-top: 7%;
    }
    .JoinButton-hero:hover {
        width: 26% !important;
        font-size: 18px;
    }
}
@media (max-width:600px) {
    .hero-section{
        height: 73vh;
    }
    .heroInner{
        margin-top: 6rem;
    }
    .content-hero .header-hero {
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 1.4em;
        width: 95% !important;
        margin-left: 2% !important;
        margin-right: 0% !important;
    }
    .hero-header-span{
        position: absolute;
        top: 5%;
        left: 9%;
        width: 65%;
    }
    .hero-sub{
        width: 95% !important;
        font-size: 14px !important;
        width: 98% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
        letter-spacing: 1px !important;
        line-height: 1.4em;
    }
    .JoinButton-hero {
        width: 45% !important;
        margin-top: 0%;
        font-size: 14px;
    }
    .JoinButton-hero:hover {
        width: 26% !important;
        font-size: 18px;
    }
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (width>1199px) {
    .content-hero .hero-h1{
        color: #414141;
        font-size: 65px;
        width:900px !important;
        margin: 0 auto;
        font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
        line-height: 5.2rem;
        font-weight: 700;
    }
    .content-hero .hero-h4{
        width: 800px !important;
        color: #8b8e91;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 1.75em;
        margin: 0 auto;
        text-align: center;
    }
}
.hero-button{
    min-width: fit-content;
    padding: 1rem 1rem;
    font-size: 18px;
    font-weight: 700;
    background-color: #f04a72;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    border-radius: 15px;
    transition: all;
    transition-duration: 500ms;
    border: none;
}
.hero-button:hover {
   background-color: rgb(255, 213, 90);  
   color: black;
   transform: scale(1.08);
}
@media (max-width: 1199px) and (min-width: 810px) {
    .content-hero .hero-h1{
        color: #414141;
        font-size: 48px;
        width: 650px !important;
        letter-spacing: -.04em;
        margin: 1rem auto important;
        font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
        line-height: 1.4em;
        font-weight: 700;
    }
    .content-hero .hero-h4{
        width: 500px;
        color: #8b8e91;
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 1.5em;
        margin: 0 auto !important;
    }
    
}

@media ((max-width: 809px))  {
    .content-hero .hero-h1{
        font-size: 45px;
        width: 400px !important;
        margin: 1rem auto !important;
        color: #414141;
        letter-spacing: -.04em;
        line-height: 1.4em;
        font-weight: 700;
    }
    .content-hero .hero-h4{
        color: #8b8e91;
        width: 300px !important;
        font-size: 13px;
        margin: 0 auto;
        letter-spacing: 0em;
        line-height: 1.75em;
        font-weight: 400;
        text-align: center;
    }
    
}
@media (width<400px) {
    .content-hero .hero-h1{
        font-size: 35px;
        width: 300px !important;
        margin: 1rem auto !important;
        color: #414141;
        letter-spacing: -.04em;
        line-height: 1.4em;
        font-weight: 700;
    }
    .content-hero .hero-h4{
        color: #8b8e91;
        width: 200px !important;
        font-size: 13px;
        margin: 0 auto;
        letter-spacing: 0em;
        line-height: 1.75em;
        font-weight: 400;
        text-align: center;
    }
}






















/* @media (max-width:600px) {
.gradient-section{
    margin-top: 70px;
}
.header{
    font-size: 28px !important;
    width: 90% !important;
    line-height: 40px;
}
.hero-sub{
    width: 95% !important;
}
.JoinButtonH{
    width: 60% !important;
    padding: 0.5rem 1.5rem !important;
}
 .hero-section{
    margin: 96px 32px 64px !important;
    height: 100vh !important; 
} 

} */