.testimonial-name{
    font-size: 18px;
    font-weight: 500;
}

.testimonial-sub{
    font-size: 18px;
    font-weight: 500;
    color: #ee2c5b;
    font-weight: 500;
}

.testimonial-description{
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.swiper-pagination{
    position: absolute !important;
}
.swiper_container{ 
    height: 58vh !important;
   
}
.swiper-pagination{
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content !important;
    border-radius: 25px;
    margin-left: 46%;
    padding: 3px;
}
.swiper-pagination-bullet{
    background-color: white !important;
    opacity: 0.5 ;
}
.swiper-pagination-bullet-active{
    background-color: white !important;
}
.testimonial-container {
    border: 2px solid #000 !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    margin: 0 auto !important;
    max-width: 90% !important;
}


.testimonial-rectangle {
    background-color: #f5f5f5; /* Color of the rectangle */
    margin: 0 auto; /* Center the rectangle */
    border-radius: 10px;
    z-index: 3;
    padding-left: 7%;
    padding-right : 7%;
    padding-top : 20%;
    padding-bottom : 10%;
}

.img-test {
    width:80%;

}

/* Hide the navigation arrows */
.slick-prev, .slick-next {
    display: none !important;
}

/* Increase space between the card and the dots */
.slick-slider {
    margin-bottom: 30px; /* Adjust this value as needed */
}
/* Increase space between the card and the dots */
.slick-slider .slick-dots {
    position: static;
    bottom: -60px; /* Adjust this value to move the dots up or down */
}

/* Style the dots */
.slick-slider .slick-dots li button:before {
    font-size: 12px !important; /* Adjust the size of the dots if needed */
    color: #777 !important; /* Adjust the color if needed */
    opacity: 1 !important;
}

/* Style the active dot */
.slick-slider .slick-dots li.slick-active button:before {
    color: #ee2c5b !important; /* Adjust the color of the active dot if needed */
}


.zeld{
    font-size: 2rem;
    font-weight: 400;
}

.head {
    font-size: 4rem;
    font-weight: 400;
}
/* .Testimonial-container{
    overflow: hidden;
} */

@media (max-width:600px) {
    .TestimonialCardDiv{
        margin-left: 0% !important;
    }
    .slick-slide img {
        display: inline !important;
    }
    .img-test-div{
        margin-left: 0% !important;
    }
    .testimonial-rectangle{
        height: 38vh !important;
    }
}

@media (min-width:600px) and (max-width:830px) {

    .testimonial-rectangle {
        height: 30vh !important;
        padding-left: 7%;
        padding-right : 7%;
        padding-top : 10%;
        padding-bottom : 5%;
    }
}