.testimonial-name{
    font-size: 18px;
    font-weight: 500;
}

.testimonial-sub{
    font-size: 18px;
    font-weight: 500;
    color: #ee2c5b;
    font-weight: 500;
}

.testimonial-description{
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.swiper-pagination{
    position: absolute !important;
}
.swiper_container{ 
    height: 58vh !important;  
}
.swiper-pagination{
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content !important;
    border-radius: 25px;
    margin-left: 46%;
    padding: 3px;
}
.swiper-pagination-bullet{
    background-color: white !important;
    opacity: 0.5 ;
}
.swiper-pagination-bullet-active{
    background-color: white !important;
}
.testimonial-container {
    border: 2px solid #000 !important;
    padding: 10px 20px !important;
    border-radius: 10px !important;
    margin: 0 auto !important;
    max-width: 90% !important;
}


.testimonial-rectangle {
    background-color: #f5f5f5; /* Color of the rectangle */
    margin: 0 auto; /* Center the rectangle */
    border-radius: 10px;
    z-index: 3;
    padding-left: 7%;
    padding-right : 7%;
    padding-top : 20%;
    padding-bottom : 10%;
}

.img-test {
    width:80%;

}

/* Hide the navigation arrows */
.slick-prev, .slick-next {
    display: none !important;
}


.zeld{
    font-size: 2rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.head {
    font-size: 4rem;
    font-weight: 400;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
}
/* .Testimonial-container{
    overflow: hidden;
} */

@media (max-width:600px) {
    .TestimonialCardDiv{
        margin-left: 0% !important;
    }
    .slick-slide img {
        display: inline !important;
    }
    .img-test-div{
        margin-left: 0% !important;
    }
    .testimonial-rectangle{
        height: 38vh !important;
    }
    .swiper_container{ 
        height: 48vh !important;  
    }
    .swiper-pagination{
        margin-left: 40%;
    }
}

@media (min-width:600px) and (max-width:830px) {

    .testimonial-rectangle {
        height: 30vh !important;
        padding-left: 7%;
        padding-right : 7%;
        padding-top : 10%;
        padding-bottom : 5%;
    }
    .swiper_container{ 
        height: 40vh !important;  
    }
    .swiper-pagination{
        margin-left: 44%;
        margin-bottom: 5%;
    }
}
