.decorative-rectangle {
  width: 70%;
  height: 550px;
  margin-left: 35%;
  border-radius: 20px;
  /* background-color: #f5f5f5;  */
  position: relative;
  z-index: 1;
}
.wholePara{
  font-size: 1.2rem;
  color: #4e4e4e;
  text-align: left;
  font-family: "Inter", sans-serif;
}
.decorative-rectangle-right {
  width: 80%;
  height: 96vh;
  overflow-x: hidden !important;
  left: 0%;

  border-radius: 20px;
  /* background-color: #bad343;  */
  position: relative;
  z-index: 1;
}

.overlay-image {
  position: absolute;
  border-radius: 20px;
  top: 48%;
  left: 60%;
  transform: translate(-50%, -45%);
  width: 60%; /* Adjust based on your needs */
  height: auto;
  z-index: 2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow added */
}
.overlay-image-right {
  position: absolute;
  border-radius: 20px;
  top: 45%;
  left: 55%;
  transform: translate(-50%, -45%);
  width: 40%;
  height: auto;
  z-index: 2;
}
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.no-gutter {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.upper {
  top: -40%;
}
.overlay-image-two {
  position: absolute;
  border-radius: 20px;
  top: 70%;
  left: 33%;
  transform: translate(-50%, -45%);
  width: 50%; /* Adjust based on your needs */
  height: auto;
  z-index: 2;
}
.overlay-image-three {
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -45%);
  width: 57%;
  height: auto;
  z-index: 2;
}
.overlay-image-right-two {
  position: absolute;
  border-radius: 20px;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -45%);
  width: 35%;
  height: auto;
  z-index: 2;
}
.overlay-image-right-three {
  position: absolute;
  border-radius: 20px;
  top: 54%;
  left: 63%;
  transform: translate(-50%, -45%);
  width: 54%;
  height: auto;
  z-index: 2;
}
.head {
  font-size: 3rem;
  margin-bottom: 6%;
}

.sub {
  font-size: 1.3rem;
  margin-bottom: 6%;
}

.AcessButton {
  margin-top: 2%;
  padding: 0.6rem 1.6rem; /* top/bottom padding and left/right padding */
  font-size: 1.2rem;
  color: #ffffff;
  width: auto;
  background-color: rgba(226, 11, 60, 0.83); /* or any desired color */
  border: none; /* remove default border */
  border-radius: 0.7rem; /* rounded corners, adjust as desired */
  transition: background-color 0.3s ease;
  align-content: center; /* smooth transition for hover effect */
}

.AcessButton:hover {
  background-color: rgb(255, 213, 90); /* slightly darker pink on hover */
  color: #ffffff; /* change text color on hover if needed */
}

.AcessButton:focus {
  box-shadow: 0 0 0 0.2rem rgb(255, 213, 90); /* Bootstrap's way to indicate focus, adjust color as needed */
}

.AcessButton:active {
  background-color: rgb(255, 213, 90); /* even darker pink on active click */
}

.section-three-container {
  display: flex!important;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}

.sec3Rows{
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.wholeHead{
  font-weight: bold!important;
  font-size: 2rem!important;
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
}
@media (min-width:600px) and (max-width:830px) {
  .sec3Rows{
    display: flex;
    flex-direction: row;
  }
  .decorative-rectangle {
    width: 70%;
    height: 400px;
  }
  .no-gutter{
    align-items: center;
    justify-content: center;
  }
  .wholePara{
    font-size: 1rem;
    color: #4e4e4e; 
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .wholeHead{
    font-size: 1.8rem !important; 
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
  }
  .AcessButton {
    width: 55%;
    font-size: 1.1rem;
  }
  .sec-three-img-two{ 
    width: 45%;
    background-position: center;
    object-position: center center;
    image-rendering: auto;
    aspect-ratio: 1;
  }
  .overlay-image {
    top: 48%;
    left: 65%;
    width: 60%; 
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1) !important; 
  }
  .overlay-image-two {
    top: 70%;
    left: 33%;
  }
  .decorative-rectangle-right {
    height: 38vh;
}
}

@media (max-width: 600px) {
  .wholePara{
    font-size: 1.05rem;
    color: #4e4e4e;
    width: 92%;
    text-align: center;
    margin-left: 0px !important;
    line-height: 1.75rem;
    font-family: "Inter", sans-serif;
  }
  .wholeHead{
    font-size: 1.7rem !important;
    font-weight: bold;
    font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
    margin-top: 10%;
  }
  .AcessButton {
    width: 72%;
    font-size: 2.5vh;
  }
  .decorative-rectangle {
    height: 259px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    margin-left: 0%;
    background-color: rgb(195, 209, 0);
  }
  .overlay-image {
    height: 200px !important;
    width: 87%;
    left: 50%;
    top: 41%;
  }
  .overlay-image-two {
    top: 75%;
    left: 73%;
    width: 60%;
  }
  .overlay-image-three{
    left: 43%;
  }
  .lstOne{
    height: 43vh;
  }
  .decorative-rectangle-right {
    height: 40vh !important;
    align-content: center;
    left: 0%;
    width: 80%;
    background-color: rgba(0, 144, 226, 0.63);
    border-radius: 25px;
  }
  .overlay-image-right-three{
    top: 69%;
  }
  .no-gutter {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin: 4% 0;
    width: 100%;
    padding: 10px 0px;
  }
  .overlay-image-right {
    height: 305px;
    width: 56%;
    top: 42%;
    left: 60%;
  }
  .sec3row2{
    display: flex;
    flex-direction: column-reverse;
  }
  .overlay-image-right-two {
    height: 172px;
    width: 47%;
    top: 66%;
    left: 35%;
  }
  .section-three-container {
    margin-top: 0rem !important;
  }
  .img-div{
    max-width: 300px;
    height: 330px !important;
    min-height: fit-content;
    position: relative;
  }
  .sec-three-img-one{
    max-width: 200px !important;
    max-height: 250px !important; 
    background-position: center;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    aspect-ratio: 1;
    position: absolute;
  }
  .sec-three-img-two{
    max-width: 180px;
    max-height: 150px;
    background-position: center;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    aspect-ratio: 1;
    position: absolute;
    left: 40%;
  }
  .img-two-last{
    max-width: 180px;
    max-height: 150px;
    background-position: center;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    aspect-ratio: 1;
    position: absolute;
    left: 60%;
  }
}

.hero-button{
  min-width: fit-content;
  padding: 0.6rem 2rem;
  font-size: 18px;
  font-weight: 700;
  background-color: #f04a72;
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
  border-radius: 15px;
  transition: all;
  transition-duration: 500ms;
  border: none;
}
.hero-button:hover {
 background-color: rgb(255, 213, 90);  
 color: black;
 transform: scale(1.08);
}