.outer-container {
    width: 100vw;
    height: 115vh;
    background-color: rgba(223, 224, 119, 0.29);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.73);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.73); /* This will add a black inner shadow */

}

.inner-container {
    text-align: left;
    width: 80%;

    /* If you want to set a max-width for larger screens */
    /* max-width: 1200px; */
}
.ques-img {
    width: 100%;


}
.main-name-sect {
    color: rgb(0, 0, 0);
    font-family: "League Spartan-SemiBold", "Montserrat-SemiBold";
    font-size: 2rem;
    width:100%;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 4%;
    margin-top: 4%;
}

.text-wrapper {
    font-weight: 300;
    color: rgba(226, 11, 60, 0.83);
}

.main-sub {
    color: rgb(0, 0, 0);
    font-family: "Montserrat-SemiBold";
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0;
    text-align: left;
    width:90%;
    text-decoration: blink;


}

.poof{
    width: 95%
}
/* Mobile styles */
@media (max-width: 768px) {

    .poof{
        width: 90%
    }

    .main-name-sect {
        font-size: 1.8rem; /* Decreasing font size for mobile */
        margin-bottom: 5%; /* Adjusting margin */
        margin-top: 0;
        text-align: left;
    }

    .ques-img {
        margin-top: -50vh;



        margin-bottom: 5%;
    }

    /* Mobile styles */




    /* Additional mobile adjustments can be added here */
}

@media (max-width: 600px) {

    .poof {
        margin-top: -50%;
    }
    .main-name-sect{
        word-spacing: 8px; 
        padding-left: 5%;
        padding-right: 5%;
    }
    .main-sub{
        width: 96%;
        padding-left: 5%;
        font-size: 1.2rem;
    }

    .ques-img-container {
       padding-left: 0% !important;
       padding-right: 0% !important;
      }
      .ques-img{
          margin-top: -50vh;

          margin-bottom: 0% !important;
      }
      .outer-container{
        height: 102vh;
      }
      
}

