


.sec-two-head{
    font-size: 1.5rem;
    color: #888;
    width:55%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 400;
}

@media (min-width:600px) and (max-width:830px) {
    .sec-two-sub{
        width: 70%;
        font-weight: 600;
    }
}
@media (max-width:600px) {
    .sec-two-head{
        font-size: 1.3rem;
        width:80%;
        font-weight: 400;
        margin-bottom: 5%;
        margin-top: 12%;
    }
    .sec-two-sub{
        width: 95%;
        font-weight: 600;
        margin-left: 7%;
    }
    .job-search-section {
        padding: 4%;
    }
}