


.sec-two-head{
    font-size: 1.5rem;
    color: #888;
    width:55%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 2%;
    font-weight: 400;
}
.newMsg1{
    font-size: 3rem;
    width: 63%;
    font-weight: bold;
    text-wrap: wrap;
}
@media (min-width:600px) and (max-width:830px) {
    .sec-two-sub{
        width: 70%;
        font-weight: 600;
    }
}
@media (max-width:600px) {
    .sec-two-head{
        font-size: 1.3rem;
        width:80%;
        font-weight: 400;
        margin-bottom: 5%;
        margin-top: 12%;
    }
    .sec-two-sub{
        width: 95%;
        font-weight: 600;
        margin-left: 7%;
    }
    .job-search-section {
        padding: 4%;
    }
    /* .sec-two-container{
        border-top:1px #888 solid;
        border-bottom:1px #888 solid;
    } */

}

.blur-border{  
    box-shadow: 0px 5px 20px #a5a5a2;
}
.sec-two-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 2rem; */
}
.sec-two-box .sec-two-h2{
    color: #4e4e4e;
    font-size: 1.3rem;
    font-weight: lighter;
    margin-top: 4rem;
}
.sec-two-box .sec-two-h1{
    color: #222222;
    margin-bottom: 4rem;
    width: 60%;
    font-weight: 700;
}
@media (width<800px) {
    .sec-two-box .sec-two-h1{
        font-size: 1.6rem;
        width: 90%;
        font-weight: 700;
    }
    .sec-two-box .sec-two-h2{
        font-size: 1.2rem;
        font-weight: lighter;
    }
}