
  .bell-icon{
    width: 1.5%;
  }
  .goback-icon{
    width: 12%;
  }
  .Profile-Offcanvas{
    padding-top: 1%;
    padding-left: 2%;
  }
  .profile-offcanvas span{
    width: 10%;
  }

  .profile-offcanvas-body{
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 30px;
  }

  .profile-offcanvas-body svg{
  width: 12% !important;
  padding-bottom: 1.5%;
  }
  .offcanvas-backdrop.show {
    opacity: 0;
}

.profile-picture-nav{
  clip-path: circle() !important;
  width: 43%;
}
.uprNavbtn{
  border: 1px solid #EA394A;
  background-color: #EA394A;
  border-radius: 25px;
  width: 16%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all;
    transition-duration: 500ms;
}
.uprNavbtn a{
  color: var(--white-100, #FFF);
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  padding: 5px;
  line-height: 150%; /* 25.5px */
  letter-spacing: 0.2px;
  text-decoration: none;
}
.uprNavbtn:hover {
  transform: scale(1.05);
}
/*
.uprNavbtn:active {
  background-color: #efefef !important;
  border: none !important;
}

.uprNavbtn:focus {
  background-color: #efefef !important;
  border: none !important;
} */
.sideLogin{
  display: none;
}
@media (width < 940px){
  .uprNavbtn{
    visibility: hidden;
    height: 20px;
  }
  .sideLogin{
    display: block;
  }
}
  @media (min-width:600px) and (max-width:850px) {
    
    .bell-icon{
      width: 2%;
    }
    .profile-picture-nav{
      width: 3% !important;
    }

}

.Profile-Canvas-Button {
  padding: 5px;   /* top/bottom padding and left/right padding */
  font-size: 17px;
  font-weight: bold ;
  color: white;
  background-color: #e20b3c;  /* or any desired color */
  border: none;  /* remove default border */
  border-radius: .85rem;  /* rounded corners, adjust as desired */
  align-content: center;/* smooth transition for hover effect */
  transition: all;
  transition-duration: 500ms;
  width: 80%;
}

.Profile-Canvas-Button:hover {
  font-size: 18px;
 background-color: #D0ED75;  /* or any desired color */
 color: #000000;
}

.Profile-Canvas-Button:active {
  background-color: #D0ED75 !important;
  color: #000000 !important;
  border: none !important;
}

.Profile-Canvas-Button:focus {
  background-color: #D0ED75 !important;
  color: rgba(0, 0, 0, 0.42) !important;
  border: none !important;
}

.profile-navbar-guest{
  max-height: 60px;
  opacity: 0.8 !important;
  background: var(--diamond-navbar, linear-gradient(to bottom right, rgba(67, 57, 242, 0.15) 0%, rgba(226, 197, 235, 0.80) 0%) bottom right / 55% 55% no-repeat, linear-gradient(to bottom left, rgba(67, 57, 242, 0.15) 0%, rgba(226, 197, 235, 0.80) 0%) bottom left / 55% 55% no-repeat, linear-gradient(to top left, rgba(67, 57, 242, 0.15) 0%, rgba(226, 197, 235, 0.80) 50%) top left / 100% 100% no-repeat, linear-gradient(to top right, rgba(67, 57, 242, 0.15) 0%, rgba(226, 197, 235, 0.80) 0%) top right / 100% 50% no-repeat);
}