.profile-card{
    border-radius:50px !important ;
    background-color: #FAFAFA !important;
}
.profile-picture-div{
    height: 32vh;
}
.profile-picture{
   clip-path: circle() !important;
   width: 43%;
}
.profile-container .card-title{
    font-size: 16px;
    font-weight: 600;
}

.profile-container label{
    font-size: 14px !important;
    font-weight: 400;
    font-family: Poppins;
    line-height: 16px;
}

.profile-container input{
    padding: 0px 10px !important;
    background-color: rgba(217, 217, 217, 0.37) !important;
    height:25px;
    font-size: 16px;
    font-family: Poppins;
}

.profile-container .card{
    height: 330px !important;
}

.profile-save-btn:disabled{
    background: rgba(67, 57, 242, 0.12);
    color: #979797;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.2px;
    border: none;
}

.profile-save-btn-active{
    color: white;
    background-color: #EA394A;  
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: 0.2px;
    border: none;
    
}



.profile-save-btn:hover{
    background: #4339F21F;
    color: #979797;
    border: none;
}

.profile-save-btn:active{
    background: #4339F21F !important;
    color: #979797 !important;
    border: none !important;
}

.profile-save-btn:focus{
    background: #4339F21F;
    color: #979797;
    border: none;
}

.profile-save-btn:focus-visible{
    background: #4339F21F;
    color: #979797;
    border: none;
}

.profile-change {
    font-size: 18px !important;
    color: white;
    background-color: #EA394A;  
    border: none;  
    border-radius: 7px;
}

.profile-change:hover {
    background-color: rgb(255, 213, 90);  
    color: white !important; 
    border: none !important;
}

.profile-change:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 213, 90); 
    color: white !important; 
    border: none !important;
}

.profile-change:active {
    background-color: rgb(255, 213, 90); 
    color: white !important; 
    border: none !important;
}

.profile-last-div h5{
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    font-family: Poppins;
}

.profile-last-div h6{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Poppins;
    background-color: #FAFAFA;
    padding: 5px 5px;
}

.profile-name-tooltip{
    background-color: #4339F230 !important;
    color: black !important;
    opacity: 1 !important; 
}

.Toastify__toast-body{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: Poppins;
}

@media (max-width:600px) {
    .profile-picture-div{
        height: 25vh;
    } 
}

@media (max-width:400px) {
    .profile-picture-div{
        height: 27vh;
    } 
}


@media (min-width:600px) and (max-width:850px) {
    .profile-picture-div{
        height: 19vh;
    } 
    .profile-first-row{
        width: 100% !important;
    }
    .profile-save-btn-active{
        line-height: 20px !important; 
        font-size: 12px;
    }
    .profile-card .card-body{
       padding-left: 10px !important;
    }
    .profile-first-card-btn{
        margin-right: 0 !important;
    }
    .profile-first-card-btn-2{
        width: 90% !important;
    }
    .profile-card-2 .card-body{
        margin-left: 12px !important;
     }
     .profile-picture{
        width: 70% !important;
     }
}

@media (min-width:831px) and (max-width:1000px) {
    .profile-picture-div{
        height: 15vh;
    } 
    .profile-first-row{
        width: 100% !important;
    }
    .profile-save-btn-active{
        line-height: 22px !important; 
    }
    .profile-card .card-body{
        padding-left: 0px !important;
     }
     .profile-first-card-btn{
        margin-right: 0 !important;
    }
    .profile-card-2 .card-body{
        margin-left: 20px !important;
     }
     .profile-first-card-btn-2{
        width: 90% !important;
    }
    .profile-picture{
        width: 60%;
     }
}

