.float-label {
    position: relative;
}

.float-label > input,
.float-label > textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    outline: none;
}

.float-label > input:placeholder-shown + label,
.float-label > textarea:placeholder-shown + label {
    font-size: 16px;
    cursor: text;
    top: 10px;
    left: 10px;
    transition: all 0.2s ease-in-out;
}

.float-label > input:not(:placeholder-shown) + label,
.float-label > textarea:not(:placeholder-shown) + label,
.float-label > input:focus + label,
.float-label > textarea:focus + label {
    font-size: 12px;
    cursor: pointer;
    top: -15px;
    left: 7px;
    transition: all 0.2s ease-in-out;
}

.float-label > label {
    position: absolute;
    color: #909090;
    pointer-events: none;
}
